{% extends "base.html" %}
{% block content %} 

<script>
  $( function() {
	$.getJSON("{{ url_for('api.inventory_names') }}", function(data) {
    	$( "#groceryInput" ).autocomplete({
      	source: data
    	});
	});
  } );
</script>

<form method="post" action="{{ url_for('groceries.add') }}">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="amountInput">Amount</label>
      <input type="text" class="form-control mb-2" id="amountInput" name="amount" placeholder="1">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="groceryInput">Grocery Item</label>
      <input type="text" class="form-control mb-2" id="groceryInput" name="grocery" placeholder="Grocery Item" required>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Add</button>
    </div>
  </div>
</form>

<form method="post" action="{{ url_for('groceries.clear') }}">
  <ul>
    {% for grocery in groceries %}
    <li><input class="form-check-input" type="checkbox" value="{{ grocery.id }}" name="grocery[]">{% if grocery.amount %}{{ grocery.amount }} {% endif %}{{ grocery.inventory.name }}</li>
    {% endfor %}
  <ul>
  <button type="submit" class="btn btn-primary">Clear Items</button>
</form>
{% endblock %}
